


/* Common */

h1,
h2 {
    font-family: 'EB Garamond', serif;
}



body {
    font-family: 'EB Garamond', serif;
    background-color: lightgrey;
    
      
}



footer {
    width: 100%;
    height: auto;
    border-top: solid black;
    background-color: rgb(25, 153, 185);
    opacity: 0.5;
    
    
}

.social {
    
    margin-left: 100px;
     display: inline;
 
 }

 img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }







ul {
    list-style-type: none;
   
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center;
}

li {
   
    text-align: center;
}



li a {
    
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 4px;
    margin: 1px;
}

li a:hover {
    background-color: #555;
    color: white;
}

.main-nav {
    
    margin-left: 540px;
    display: inline-block;
    list-style-type: none;
    margin-top: 35px;
    padding: 0;
    padding-right: 90px;
    
  
}
.about-me {
    padding: 20px;
    border-bottom: solid .5px grey;
   margin-left: 550px;
    color: rgb(236, 139, 59);
    background-color: rgb(56, 139, 187);
    opacity: 0.5;
    width: 960px;
}



/* End of Common */




/* index html properties */

.All {
    margin-left:20px;
    margin-right:20px;
    text-align: center;
    background-image: url("img/Mustangs.jpg");
    width: auto;
    height: auto;
}


.pic {
    
    width: 233px;
    height: 180px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin-left: 50px;
    margin-top: -10px;
    
}



.main {
    height: 150px;
    width: 900px;
    border: solid rgb(63, 129, 204); 
    background-color: #555;
    opacity: 0.9;
    margin-left: 265px;
    margin-right: 20px;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    color: white;
}






/* End of Index html Properties */






  /* Portfolio html properties */
 

  .container {
      display: inline;
     
      max-width: 960px;
      
      bottom: auto;

      
  }
  

  

  .All2 {
    
    text-align: center;
    background-image: url("img/my-painting.png");
    width: auto;
    height: auto;


}

.AllRows {
    background-color: gray;
    
    

}

.linkTags {
    margin-left: 30px;
    font-size: 20px;
    color: rgb(225, 228, 74);
    
}

.InfoText {
    font-family: 'EB Garamond', serif;
    border-bottom: solid rgba(0, 0, 0, 0.479);
    border-top: solid rgba(0, 0, 0, 0.479);

    color: rgb(200, 200, 200);
   
}


/* End of Portfolio html properties */
  



  


